.wrapper {
  @import url(https://fonts.googleapis.com/css?family=Raleway);
  color: grey;
  line-height: 1.5;
  width: 100%;
  size: 100%;
  padding: 1px;
}

.rainbow {
  text-shadow: -1px 1px 0 #ffd180;
  -webkit-animation: 1s infinite rainbowText;
          animation: 1s infinite rainbowText;
}

@-webkit-keyframes rainbowText {
  0% {
    text-shadow: -0.1rem 0.1rem #ffff8d, -0.2rem 0.2rem #ccff90, -0.3rem 0.3rem #a7ffeb, -0.4rem 0.4rem #82b1ff, -0.5rem 0.5rem #b388ff, -0.6rem 0.6rem #ea80fc, -0.7rem 0.7rem #ff80ab, -0.8rem 0.8rem #ffd180;
  }
  12.5% {
    text-shadow: -0.1rem 0.1rem #ffd180, -0.2rem 0.2rem #ffff8d, -0.3rem 0.3rem #ccff90, -0.4rem 0.4rem #a7ffeb, -0.5rem 0.5rem #82b1ff, -0.6rem 0.6rem #b388ff, -0.7rem 0.7rem #ea80fc, -0.8rem 0.8rem #ff80ab;
  }
  25% {
    text-shadow: -0.1rem 0.1rem #ff80ab, -0.2rem 0.2rem #ffd180, -0.3rem 0.3rem #ffff8d, -0.4rem 0.4rem #ccff90, -0.5rem 0.5rem #a7ffeb, -0.6rem 0.6rem #82b1ff, -0.7rem 0.7rem #b388ff, -0.8rem 0.8rem #ea80fc;
  }
  37.5% {
    text-shadow: -0.1rem 0.1rem #ea80fc, -0.2rem 0.2rem #ff80ab, -0.3rem 0.3rem #ffd180, -0.4rem 0.4rem #ffff8d, -0.5rem 0.5rem #ccff90, -0.6rem 0.6rem #a7ffeb, -0.7rem 0.7rem #82b1ff, -0.8rem 0.8rem #b388ff;
  }
  50% {
    text-shadow: -0.1rem 0.1rem #b388ff, -0.2rem 0.2rem #ea80fc, -0.3rem 0.3rem #ff80ab, -0.4rem 0.4rem #ffd180, -0.5rem 0.5rem #ffff8d, -0.6rem 0.6rem #ccff90, -0.7rem 0.7rem #a7ffeb, -0.8rem 0.8rem #82b1ff;
  }
  62.5% {
    text-shadow: -0.1rem 0.1rem #82b1ff, -0.2rem 0.2rem #b388ff, -0.3rem 0.3rem #ea80fc, -0.4rem 0.4rem #ff80ab, -0.5rem 0.5rem #ffd180, -0.6rem 0.6rem #ffff8d, -0.7rem 0.7rem #ccff90, -0.8rem 0.8rem #a7ffeb;
  }
  75% {
    text-shadow: -0.1rem 0.1rem #a7ffeb, -0.2rem 0.2rem #82b1ff, -0.3rem 0.3rem #b388ff, -0.4rem 0.4rem #ea80fc, -0.5rem 0.5rem #ff80ab, -0.6rem 0.6rem #ffd180, -0.7rem 0.7rem #ffff8d, -0.8rem 0.8rem #ccff90;
  }
  87.5% {
    text-shadow: -0.1rem 0.1rem #ccff90, -0.2rem 0.2rem #a7ffeb, -0.3rem 0.3rem #82b1ff, -0.4rem 0.4rem #b388ff, -0.5rem 0.5rem #ea80fc, -0.6rem 0.6rem #ff80ab, -0.7rem 0.7rem #ffd180, -0.8rem 0.8rem #ffff8d;
  }
  100% {
    text-shadow: -0.1rem 0.1rem #ffff8d, -0.2rem 0.2rem #ccff90, -0.3rem 0.3rem #a7ffeb, -0.4rem 0.4rem #82b1ff, -0.5rem 0.5rem #b388ff, -0.6rem 0.6rem #ea80fc, -0.7rem 0.7rem #ff80ab, -0.8rem 0.8rem #ffd180;
  }
}

@keyframes rainbowText {
  0% {
    text-shadow: -0.1rem 0.1rem #ffff8d, -0.2rem 0.2rem #ccff90, -0.3rem 0.3rem #a7ffeb, -0.4rem 0.4rem #82b1ff, -0.5rem 0.5rem #b388ff, -0.6rem 0.6rem #ea80fc, -0.7rem 0.7rem #ff80ab, -0.8rem 0.8rem #ffd180;
  }
  12.5% {
    text-shadow: -0.1rem 0.1rem #ffd180, -0.2rem 0.2rem #ffff8d, -0.3rem 0.3rem #ccff90, -0.4rem 0.4rem #a7ffeb, -0.5rem 0.5rem #82b1ff, -0.6rem 0.6rem #b388ff, -0.7rem 0.7rem #ea80fc, -0.8rem 0.8rem #ff80ab;
  }
  25% {
    text-shadow: -0.1rem 0.1rem #ff80ab, -0.2rem 0.2rem #ffd180, -0.3rem 0.3rem #ffff8d, -0.4rem 0.4rem #ccff90, -0.5rem 0.5rem #a7ffeb, -0.6rem 0.6rem #82b1ff, -0.7rem 0.7rem #b388ff, -0.8rem 0.8rem #ea80fc;
  }
  37.5% {
    text-shadow: -0.1rem 0.1rem #ea80fc, -0.2rem 0.2rem #ff80ab, -0.3rem 0.3rem #ffd180, -0.4rem 0.4rem #ffff8d, -0.5rem 0.5rem #ccff90, -0.6rem 0.6rem #a7ffeb, -0.7rem 0.7rem #82b1ff, -0.8rem 0.8rem #b388ff;
  }
  50% {
    text-shadow: -0.1rem 0.1rem #b388ff, -0.2rem 0.2rem #ea80fc, -0.3rem 0.3rem #ff80ab, -0.4rem 0.4rem #ffd180, -0.5rem 0.5rem #ffff8d, -0.6rem 0.6rem #ccff90, -0.7rem 0.7rem #a7ffeb, -0.8rem 0.8rem #82b1ff;
  }
  62.5% {
    text-shadow: -0.1rem 0.1rem #82b1ff, -0.2rem 0.2rem #b388ff, -0.3rem 0.3rem #ea80fc, -0.4rem 0.4rem #ff80ab, -0.5rem 0.5rem #ffd180, -0.6rem 0.6rem #ffff8d, -0.7rem 0.7rem #ccff90, -0.8rem 0.8rem #a7ffeb;
  }
  75% {
    text-shadow: -0.1rem 0.1rem #a7ffeb, -0.2rem 0.2rem #82b1ff, -0.3rem 0.3rem #b388ff, -0.4rem 0.4rem #ea80fc, -0.5rem 0.5rem #ff80ab, -0.6rem 0.6rem #ffd180, -0.7rem 0.7rem #ffff8d, -0.8rem 0.8rem #ccff90;
  }
  87.5% {
    text-shadow: -0.1rem 0.1rem #ccff90, -0.2rem 0.2rem #a7ffeb, -0.3rem 0.3rem #82b1ff, -0.4rem 0.4rem #b388ff, -0.5rem 0.5rem #ea80fc, -0.6rem 0.6rem #ff80ab, -0.7rem 0.7rem #ffd180, -0.8rem 0.8rem #ffff8d;
  }
  100% {
    text-shadow: -0.1rem 0.1rem #ffff8d, -0.2rem 0.2rem #ccff90, -0.3rem 0.3rem #a7ffeb, -0.4rem 0.4rem #82b1ff, -0.5rem 0.5rem #b388ff, -0.6rem 0.6rem #ea80fc, -0.7rem 0.7rem #ff80ab, -0.8rem 0.8rem #ffd180;
  }
}
