/** src/app/globals.css **/

:root {
  --gray-000: #FFFFFF;
  --gray-050: #F5F5F5;
  --gray-100: #EBEBEB;
  --gray-150: #E0E0E0;
  --gray-200: #D6D6D6;
  --gray-250: #CCCCCC;
  --gray-300: #C2C2C2;
  --gray-350: #B8B8B8;
  --gray-400: #ADADAD;
  --gray-450: #A3A3A3;
  --gray-500: #999999;
  --gray-550: #8F8F8F;
  --gray-600: #858585;
  --gray-650: #7A7A7A;
  --gray-700: #707070;
  --gray-750: #666666;
  --gray-800: #5C5C5C;
  --gray-850: #525252;
  --gray-900: #474747;
  --gray-950: #3D3D3D;
  --gray-1000: #333333;
  --gray-1050: #292929;
  --gray-1100: #1F1F1F;
  --gray-1150: #141414;
  --gray-1200: #0A0A0A;

  --transparent: transparent;
}

/* set the background color for the entire page */
html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /*  ensure padding is included in dimensions */
  box-sizing: border-box; 
  /* use viewport width for responsiveness */
  width: 100vw;           
  /* prevent horizontal overflow */
  max-width: 100vw;       
  /* use viewport height for responsiveness */ 
  height: 100vh;          
  padding: 15px;          
  margin: 0;              

  /* prevent horizontal scrolling */
  overflow-x: hidden;     
  
  background-color: var(--gray-1200);
  /* background-color: #0A0A0A; */
}

header {
  display: flex;
  position: relative; 
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 75px;       
  border-radius: 15px;
  margin-bottom: 15px;
  
  background-color: var(--gray-1150);
  border: none;       
}

/* main content */
.page {
  display: flex;
  flex-direction: row;
  flex: 1;

  box-sizing: border-box;
  width: calc(100%);  
  min-height: 0;

  margin: 0 15px 15px 15px;  
  /* padding is added to the element's width and height */
  padding: 15px;
  /* gap means the children will have space between them */
  gap: 15px;

  background-color:  var(--gray-1150);
  border-radius: 15px;
  /* border: 2px solid rgba(255, 255, 255, 0.315); */
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
  height: auto;
  min-height: 0;
  padding: 15px;
  gap: 15px;
  
  overflow: hidden; /* Prevent overflow */

  border-radius: 12px;
  /* background-color: #1F1F1F; */
  background-color: var(--gray-1100);
  /* border: 2px solid rgba(255, 255, 255, 0.315); */
}

.box {
  display: flex;
  flex-direction: row;
  padding: 15px; /* this wraps around all children */
  gap: 15px;     /* this sets spacing between children */
  border-radius: 12px;
  background-color: var(--gray-1050);
}

.inner-column {
  flex: 1; /* optional: allows equal sizing */
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--gray-1000);
  border-radius: 12px;
  padding: 15px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.inner-column p {
  font-family: 'SF Pro Text';
  font-size: 10px;
  margin: 0;
  text-align: left;
  font-weight: 300;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.inner-column p.primary {
  color: var(--gray-600);
}

.inner-column p.secondary {
  color: var(--gray-900);
}

.inner-column h4 {
  font-family: 'SF Pro Text';
  font-size: 20px;
  color: var(--gray-600);
  margin: 0;
  text-align: left;
  font-weight: normal;
  width: 100%;
}

.box-small {
  flex: 1;
}

.box-medium {
  flex: 2;
}

.box-large {
  flex: 3;
}

.headshot {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.headshot-container {
  position: relative;
  width: 200px;
  height: 200px;
  transition: all 0.3s ease;
  border: 1.5px solid var(--gray-600);
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(184, 184, 184, 0.5);
}

.headshot-container:hover {
  border-color: var(--gray-300);
  box-shadow: 0 0 20px 0 rgba(184, 184, 184, 0.7);
  transform: scale(1.05);
}

.headshot-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(134, 134, 134, 0.22);
  backdrop-filter: blur(25px);
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 1;
  transition: all 0.3s ease;
}

/*  navigation links */
nav {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5rem;
  font-family: 'SF Mono';
}

nav a {
  font-family: 'SF Mono';
  text-decoration: underline;
  color: #C2C2C2;
}

@media (max-width: 768px) {
  header {
    height: 80px; /* Adjust header height for smaller screens */
  }
}

/**
 *    font family
 *    SF-Pro-Text-Regular  - pro
 *    SF-Mon-Regular       - mono
 *
 *    .otf      opentype
 *    .ttf      truetype
 *    .woff     woff
 *    .woff2    woff2
 **/

 @font-face {
  font-family: 'SF Pro Text';
  src:  url('/fonts/SF-Pro-Text-Regular.otf') format('opentype'),
        url('/fonts/pro.ttf') format('truetype'),
        url('/fonts/pro.woff') format('woff'),
        url('/fonts/pro.woff2') format('woff2');
  
  font-style: normal;
  font-display: swap;
 }

 @font-face {
  font-family: 'SF Mono';
  src:  url('/fonts/SF-Mono-Regular.otf') format('opentype'),
        url('/fonts/mono.ttf') format('truetype'),
        url('/fonts/mono.woff') format('woff'),
        url('/fonts/mono.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
 }