/** src/app/globals.css **/

/* set the background color for the entire page */
html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /*  ensure padding is included in dimensions */
  box-sizing: border-box; 
  /* use viewport width for responsiveness */
  width: 100vw;           
  /* prevent horizontal overflow */
  max-width: 100vw;       
  /* use viewport height for responsiveness */ 
  height: 100vh;          
  padding: 15px;          
  margin: 0;              

  /* prevent horizontal scrolling */
  overflow-x: hidden;     

  background-color: #0A0A0A;
}

header {
  display: flex;
  position: relative; 
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 75px;       
  border-radius: 15px;
  margin-bottom: 15px;

  background-color: #141414; 
  border: none;       
}

/* main content */
.page {
  display: flex;
  flex-direction: row;
  flex: 1;

  box-sizing: border-box;
  width: calc(100%);  
  min-height: 0;

  margin: 0 15px 15px 15px;  
  padding: 15px;
  gap: 15px;

  background-color: #141414;
  border-radius: 15px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
  height: auto;
  min-height: 0;
  padding: 15px;
  gap: 15px;
  
  overflow: hidden; /* Prevent overflow */

  border-radius: 12px;
  background-color: #1F1F1F;
}

.box {
  display: flex;
  flex: 1;

  width: calc(100% - 30px);
  min-height: 0;
  margin-right: 15px;
  padding: 15px;
  gap: 15px;
  
  border: 2px solid rgba(255, 255, 255, 0.315);
  border-radius: 12px;
  background-color: #292929;
}

.box-small {
  flex: 1;
}

.box-medium {
  flex: 2;
}

.box-large {
  flex: 3;
}

/*  navigation links */
nav {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5rem;
  font-family: 'SF Mono';
}

nav a {
  font-family: 'SF Mono';
  text-decoration: underline;
  color: #C2C2C2;
}

@media (max-width: 768px) {
  header {
    height: 80px; /* Adjust header height for smaller screens */
  }
}



/**
 *    font family
 *    SF-Pro-Text-Regular  - pro
 *    SF-Mon-Regular       - mono
 *
 *    .otf      opentype
 *    .ttf      truetype
 *    .woff     woff
 *    .woff2    woff2
 **/

 @font-face {
  font-family: 'SF Pro Text';
  src:  url('/fonts/SF-Pro-Text-Regular.otf') format('opentype'),
        url('/fonts/pro.ttf') format('truetype'),
        url('/fonts/pro.woff') format('woff'),
        url('/fonts/pro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
 }

 @font-face {
  font-family: 'SF Mono';
  src:  url('/fonts/SF-Mono-Regular.otf') format('opentype'),
        url('/fonts/mono.ttf') format('truetype'),
        url('/fonts/mono.woff') format('woff'),
        url('/fonts/mono.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
 }
