/* src/app/globals.css */

/**
 *    font family
 *    SF-Pro-Text-Regular  - pro
 *    SF-Mon-Regular       - mono
 *
 *    .otf      opentype
 *    .ttf      truetype
 *    .woff     woff
 *    .woff2    woff2
 **/

 @font-face {
  font-family: 'SF Pro Text';
  src:  url('/fonts/SF-Pro-Text-Regular.otf') format('opentype'),
        url('/fonts/pro.ttf') format('truetype'),
        url('/fonts/pro.woff') format('woff'),
        url('/fonts/pro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
 }

 @font-face {
  font-family: 'SF Mono';
  src:  url('/fonts/SF-Mono-Regular.otf') format('opentype'),
        url('/fonts/mono.ttf') format('truetype'),
        url('/fonts/mono.woff') format('woff'),
        url('/fonts/mono.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
 }

/* set the background color for the entire page */
html, body {
  background-color: #0A0A0A;
  margin: 0;              /* remove default margin */
  width: 100vw;           /* use viewport width for responsiveness */
  height: 100vh;          /* use viewport height for responsiveness */
  max-width: 100vw;       /* prevent horizontal overflow */
  overflow-x: hidden;     /* prevent horizontal scrolling */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; /*  ensure padding is included in dimensions */
  padding: 15px;          /* consistent margin around edges */
}

/* style the header */
header {
  background-color: #141414; 
  position: relative; 
  width: 100%;
  height: 75px;           /* set the height of the header */
  border-radius: 15px;    /* set the corner radius */
  border: none;           /* remove any border */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

/* main content */
.page {
  background-color: #141414;
  width: calc(100%);  
  margin: 0 15px 15px 15px;  
  flex: 1;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  padding: 15px;
  gap: 15px;
  box-sizing: border-box;
  min-height: 0;
}

.column {
  background-color: #1F1F1F;
  flex: 1;
  border-radius: 12px;
  height: auto;
  gap: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  min-height: 0;
  overflow: hidden; /* Prevent overflow */
}

.box {
  background-color: #292929;
  display: flex;
  border-radius: 12px;
  padding: 15px;
  gap: 15px;
  width: calc(100% - 30px);
  margin-right: 15px;
  min-height: 0;
  flex: 1;
}

.box-small {
  flex: 1;
}

.box-medium {
  flex: 2;
}

.box-large {
  flex: 3;
}

/*  navigation links */
nav {
  font-family: 'SF Mono';
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 100%;
}

nav a {
  font-family: 'SF Mono';
  color: #C2C2C2;
  text-decoration: underline;
}

@media (max-width: 768px) {
  header {
    height: 80px; /* Adjust header height for smaller screens */
  }
}